*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,cadetblue,gray,rgb(2, 48, 48));
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;

}
nav ul li{
     display: inline-block;
     list-style: none;
     margin: 10px 20px;
     font-size: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    
}
nav ul li a:hover{
    color:maroon;
    background-color: rgb(50, 172, 155);
    border-radius: 40px;
    
}

.detel{
    margin-left: 8%;
    margin-top: 5%;
}
.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
span{
    color: rgb(89, 0, 255);
}
.detel p{
    color: #555;
    line-height: 22px;

}
.detel a{
    
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    

}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;

}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s,left 1s;
}
.images:hover .girl{
    left:45%;
}

.images .girl{
    border-radius: 90px;
    border-image-width: 40px;

}
#git{
    color: #000;
}
.logo{
    border-width: 1cm;
    border-radius: 60px;
    margin-top: 40px;
    border-color: #000;
   
}


.social-icon a i {
	width: 50px;
	height: 50px;
	border: 1px solid #cdcdcd;
	line-height: 50px;
	font-size: 20px;
	border-radius: 50%;
}
.img1{
    margin: 5px;
    border-radius: 20px;
}
.linked{
    color: red;
    border: 1px solid black;
    background-color: darkslategrey;
}
.fa-brands{
    font-size: 3rem;
    color:#0816e0;
}
.fa-solid{
    font-size: 3rem;
    color: red;
}
.git{
    color: #fff;
}
.linked:hover{
    color: #291403;
    background-color: rgb(215, 240, 219);
}

